.ui.menu .item{
    color: rgb(180, 180, 185) !important;
}

.clickable:hover{
    cursor: pointer;
}

.ui.menu .item.active{
    background: rgb(170, 108, 170) !important;
    color: #ffffff !important;
}

.ui.menu .item.clickable:hover{
    color: #000 !important;
    background: #fff !important; 
}

/* span.clickable:hover{
    color: #000 !important;
    background: #fff !important;
} */