#parent {
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
}

#messages {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 1 !important;
}

#sidebar {
    display: flex !important;
    align-items: center !important;
    width: 18rem;
}